.logo
{
	font-family: 'Condiment', cursive;


}

.goSurf
{
	font-family: 'Condiment', cursive;
	font-size: 1.5em;
	margin: 0px;
	margin-top: -10px;



}

.spotDetailsImage{

	width:100%;
	height:100%;
	margin-top: 10px;
}

h1{
	margin-top: 0px;
	margin-bottom: 10px;

}

.wind{

	width:30px;
	display: inline;
	margin-right: 30px;

	
	
}

.wave{

	width: 40px;
	display: inline;

	
}

.followButton{

	width:110px;

}

#surfHereButton{

right:220px;
width:auto;
height: auto;

	
}

.spotName{

	width:100%;
	display:inline;
}

#profileImg{



}

.feedImg{

	width:100%;
	height:100%;
	margin-top: 0px;
	margin-bottom: -10px;
	z-index: 10;

}

h1.feed{
	color:#2C3E50;
	margin-bottom: 0px;
	margin-top: 20px;
}

.feedLink{
	text-decoration: none;
	
}

.feedWindInfo{

	background-color: #3498DB;
	width:90px;
	height:24px;
	margin-top: -21px;

	padding:2px 5px 2px 5px;
	color:#ffffff;
	z-index: 10;
	position: relative;

}
.surfersOnSpot{

	height: 30px;
	width: auto;
	display: inline;
	
}

.delete{

	float:right;
}

.homeFooter{
	margin-bottom: -61px;
}

.smallDataDesc{
	font-size: 0.8em;
	font-weight: bold;
	display: inline;
}

.onSpot{

	font-size: 0.8em;
	font-weight: bold;
	color:#3498DB;
	clear:both;
	display:inline;
	margin-bottom: 300px;


}

.oneSpot{
	background-color: red;
	height: 300px;
	width:100%;
	
}

.userName{
	font-size: 0.7em;
	display: inline;
	float:left;
	margin-left: 20px;
}

