<!DOCTYPE html>
<html>
	<head>
		<title>
		Title
		</title>
		<link rel="stylesheet" href="http://code.jquery.com/mobile/1.3.1/jquery.mobile-1.3.1.min.css" />
		<link rel="stylesheet" type="text/css" href="css/uitheme/jquery.mobile.flatui.css" />
		<link href='http://fonts.googleapis.com/css?family=Condiment' rel='stylesheet' type='text/css'>
		<link rel="stylesheet" type="text/css" href="css/customstyle.css" />
		<meta charset='utf-8' />
		<script src="//connect.facebook.net/en_US/all.js"></script>
	</head>
	<body>

	<!--HOME-->
	<script type="text/template" id="home">
		<div data-role="panel" id="panel" data-position="right" data-theme="a" data-display="push"></div>
		    <div data-role="header" data-theme="a">
		    <a href="#user/<%=this.options.usern%>" data-iconpos="notext" data-icon="refresh" title="Refresh" data-theme="a"></a>		    	
		    	<h1>Dina spots</h1>
		    	<a class="ui-btn-right" data-role="button" href="#settings">Settings</a>
		    </div>
	        <div data-role="content">          	        		        	
				
				<%  
					//Tells wich spot the user wants to surf on
					var spotToSurfOn = "";
					console.log("USERS INFO I TEMPLATE?", this.options.userinfo[0].username);
					
					//Loopar ut infon för varje spot
					for (var i = 0; i <this.model.length; i++) {
						user = this.options.usern;
						name = this.model[i]["name"];
						picture = this.model[i]["picture"];
						spotId = this.model[i]["_id"];
						wind = this.model[i]["wind"];
						surfers = this.model[i].surfersonspot;
						console.log("IN ARRAY", name);

						%><a class="feedLink" href="#user/<%=user%>/spot/<%= spotId %>">
						<h1 class="feed"><%= name %></h1>
						</a>
						<% if(jQuery.inArray(this.options.userinfo[0].username, surfers) >-1){
							console.log("DU SURFAR HÄR");%>

							<form class="stopSurfOnSpotForm" method="put">
						    <input type="hidden" class="stopSurfOnSpotSpot" value="<%= spotId %>">
						    <input type="hidden" class="stopSurfOnSpotUser" value="<%= user %>">				    
							<input type="submit" class="StopSurfHereButton" id="<%= spotId %>" data-theme="f" value="Du surfar här. Surfat klart?" data-mini="true" data-icon="check" data-iconpos="right">
							</form>							
						<%}
						else{
							console.log("Du kan surfa här");%>
							<form class="surfOnSpotForm" method="post">
						    <input type="hidden" class="surfOnSpotSpot" value="<%= spotId %>">
						    <input type="hidden" class="surfOnSpotUser" value="<%= user %>">				    
							<input type="submit" class="surfHereButton" id="<%= spotId %>" data-theme="g" value="Surfa här?" data-mini="true" data-icon="plus" data-iconpos="right">
							</form>
														
						<%};%>
					
						<img class="feedImg" src="pics/<%= picture %>">
						
						<div class="feedWindInfo">
							<p class="smallDataDesc">Vind just nu: <%= wind %></p>
						</div>
						<div class="surfersOnSpot"><p class="smallDataDesc">På plats:</p> 
						<%
						//Loopar ut surfersonspotarrayen om den innehåller surfare
						if(surfers.length >0){
							console.log("här finns surfare", surfers.length);
							for (var y = 0; y <surfers.length; y++) {
							%><p class="onSpot"><%= surfers[y]%></p><%
							}
						}
						%></div><%					
					};%>
					<% jQuery(document).click(function(event) {
						console.log("Want to surf or stop surf on spot: ", event.target.id);
						spotToSurfOn = event.target.id;
						console.log("Variable set? ", spotToSurfOn);
						});
					%>
					<%//Surfer wants surf on spot 
						jQuery(document).on('submit', '.surfOnSpotForm', function() {

						event.preventDefault();
					    var spot = spotToSurfOn;
					    console.log("RÄTT SPOT INNAN VI SKICKAR TILL SERVER?", spot);
					    var user = jQuery(".surfOnSpotUser").attr("value");

					    console.log("VILL SURFA. Spoten är: ", spot +"usern är: "+user);

					    $.ajaxSetup({

							url: "http://127.0.0.1:3000/user/"+user+"/spot/"+spot+"/addSurferOnSpot",
							type: "POST",
							data: {userId: user, spotId: spot},
							headers: {Accept: "application/json"}

						});

						$.ajax({

							success: function(data){

								console.log("Surf spot", data);
								document.location.reload(true)
								
							},
							error: function(data, error){

								console.log("Error when trying to surf on spot?", data, error);
								document.location.reload(true)
								
							}
						});
					});

					//Stop surf on spot
					jQuery(document).on('submit', '.stopSurfOnSpotForm', function() {
						event.preventDefault();
						console.log("DONT WANT TO SURF HERE");

					    var spot = spotToSurfOn;
					    var user = jQuery(".stopSurfOnSpotUser").attr("value");

					    $.ajaxSetup({

							url: "http://127.0.0.1:3000/user/"+user+"/spot/"+spot+"/deleteSurferOnSpot",
							type: "PUT",
							data: {userId: user, spotId: spot},
							headers: {Accept: "application/json"}

						});

						$.ajax({

							success: function(data){

								document.location.reload(true)
								console.log("Stop surf in spot:", data);
								window.location.replace("http://127.0.0.1:3000/user/"+user);
							},
							error: function(data, error){
								document.location.reload(true)
								console.log("Error when trying to stop surf on spot?", data, error);
							}
						});
					});%>	
				
															
			</div>
	 
	        <div data-role="footer" data-theme="a" data-position="fixed">
	            <nav data-role="navbar">
	            	<ul>
	            		<li><a href="#user/<%=user%>/searchSpot" data-icon="search">Hitta spot</a></li>
					    <li><a href="#goSurf"><p class="goSurf">Go surfing!</p></a></li>
					    <li><a href="#info" data-icon="info">Info</a></li>
		 			</ul>
				</nav>
	        </div>
	    </div>
    </script>

    <!--LOG IN-->
	<script type="text/template" id="logIn">
		<div data-role="panel" id="panel" data-position="right" data-theme="f" data-display="push"></div>

		    <div data-role="header" data-theme="f">
		    	<a href="#" data-iconpos="notext" data-role="button" data-icon="home" title="Home" data-theme="f"></a>
		    	<h1 class="logo">Surfspoter</h1>
		    	<a href="#settings">Settings</a>
		    </div>
	        <div data-role="content" id="homeContent">           
	        	<h1>Logga in</h1>

				<form>
		        	<div data-role="fieldcontain" class="ui-hide-label">
						<label for="email">Email:</label>
						<input type="email" name="username" id="email" value="" placeholder="Email"/>
					</div>
					<div data-role="fieldcontain" class="ui-hide-label">
						<label for="password">Password:</label>
						<input type="password" name="password" id="password" value="" placeholder="Password"/>
					</div>
				</form>					 		 		
	        </div>
	 
	        <div data-role="footer" data-theme="f" data-position="fixed">
	            <nav data-role="navbar">
	            	<ul>
	            		<li><a href="#user/<%=user%>/searchSpot" data-icon="search">Hitta spot</a></li>
					    <li><a href="#goSurf"><p class="goSurf">Go surfing!</p></a></li>
					    <li><a href="#info" data-icon="info">Info</a></li>
					</ul>
				</nav>
	        </div>
	    </div> 
    </script>


    <!--SETTINGS-->
	<script type="text/template" id="settings">
		<div data-role="panel" id="panel" data-position="right" data-theme="f" data-display="push"></div>

		    <div data-role="header" data-theme="f">
		    	<a href="#" data-iconpos="notext" data-role="button" data-icon="home" title="Home" data-theme="f"></a>
		    	<h1 class="logo">Surfspoter</h1>
		    	<a href="#settings">Settings</a>
		    </div>
	        <div data-role="content" id="homeContent">           
	        	<p>Settings</p>
	        	<p>Available soon!!!!!</p>

	        	<div id="profileImg">
			    <fb:login-button autologoutlink="true">
			    </fb:login-button>
			    <div id="fb-root"></div>
    			</div>
					 		 		
	        </div>
	 
	        <div data-role="footer" data-theme="f" data-position="fixed">
	            <nav data-role="navbar">
	            	<ul>
	            		<li><a href="#user/<%=user%>/searchSpot" data-icon="search">Hitta spot</a></li>
					    <li><a href="#goSurf"><p class="goSurf">Go surfing!</p></a></li>
					    <li><a href="#info" data-icon="info">Info</a></li>
					</ul>
				</nav>
	        </div>
	    </div> 
    </script>


    <!--INFO-->
	<script type="text/template" id="info">
		<div data-role="panel" id="panel" data-position="right" data-theme="f" data-display="push"></div>

		    <div data-role="header" data-theme="f">
		    	<a href="#" data-iconpos="notext" data-role="button" data-icon="home" title="Home" data-theme="f"></a>
		    	<h1 class="logo">Surfspoter</h1>
		    	<a href="#settings">Settings</a>
		    </div>
	        <div data-role="content" id="homeContent">           
	        	<p>Info</p>
	        	<p>Available soon!!!!!</p>

	        	<div id="appContent">
				<!-- TEMPLATES CONTENTS GOES HERE -->
				</div>
					 		 		
	        </div>
	 
	        <div data-role="footer" data-theme="f" data-position="fixed">
	            <nav data-role="navbar">
	            	<ul>
	            		<li><a href="#user/<%=user%>/searchSpot" data-icon="search">Hitta spot</a></li>
					    <li><a href="#goSurf"><p class="goSurf">Go surfing!</p></a></li>
					    <li><a href="#info" data-icon="info">Info</a></li>
					</ul>
				</nav>
	        </div>
	    </div> 
    </script>

	



	<!--GO SURF-->
	<script type="text/template" id="goSurf">
		<div data-role="panel" id="panel" data-position="right" data-theme="f" data-display="push"></div>

		    <div data-role="header" data-theme="f">
		    	<a href="#" data-iconpos="notext" data-role="button" data-icon="home" title="Home" data-theme="f"></a>
		    	<h1 class="logo">Surfspoter</h1>
		    	<a href="#settings">Settings</a>
		    </div>
	        <div data-role="content" id="homeContent">           
	        	<p>Go surf!</p>
	        	<p>Available soon!!!!!</p>

	        	<div id="appContent">
				<!-- TEMPLATES CONTENTS GOES HERE -->
				</div>
					 		 		
	        </div>
	 
	        <div data-role="footer" data-theme="f" data-position="fixed">
	            <nav data-role="navbar">
	            	<ul>
	            		<li><a href="#user/<%=user%>/searchSpot" data-icon="search">Hitta spot</a></li>
					    <li><a href="#goSurf"><p class="goSurf">Go surfing!</p></a></li>
					    <li><a href="#info" data-icon="info">Info</a></li>
					</ul>
				</nav>
	        </div>
	    </div> 
    </script>


	<!--SEARCH SURFSPOT-->
	<script type="text/template" id="search">

		<div data-role="header" data-theme="a">
			<%user = this.options.usern;%>
            <a href="#user/<%=user%>" data-iconpos="notext" data-role="button" data-icon="home" title="Home" data-theme="a"></a>
            <h1 class="logo">Surfspoter</h1>
	    </div>

	    <div data-role="content">
	    	<ul data-role="listview" data-theme="c" data-inset="true" data-filter="true" data-filter-placeholder="Sök spots...">

		<% _.each(this.model, function(spot) { %>

			<li>
				<a href="#user/<%=user%>/spot/<%= spot._id %>">
				<h1><%= spot.name %></h1>
				<img src="pics/<%= spot.picture %>">
				<p><%= spot.description %></p>
				</a>
			</li>

		<% }); %>
			</ul>
	    </div>
	    <div data-role="footer" data-theme="a" data-position="fixed">
            <nav data-role="navbar">
            	<ul>
            		<li><a href="#user/<%=user%>/searchSpot" data-icon="search">Hitta spot</a></li>
				    <li><a href="#goSurf"><p class="goSurf">Go surfing!</p></a></li>
				    <li><a href="#info" data-icon="info">Info</a></li>
				</ul>
			</nav>
	    </div>
	 
    </script>


    <!--SPOT DETAILS-->
    <script type="text/template" id="details">
    	<div data-role="header" data-theme="a">
    	<%user = this.options.usern;%>
    	<a href="#user/<%=user%>" data-iconpos="notext" data-role="button" data-icon="home" title="Home" data-theme="a"></a>
          
            <h1><%=this.model.name%></h1>
        </div>

	    <div data-role="content">			
						
			<% var userSpotsArray = this.options.followedSpots;
			console.log("USERSPOTSARRAY, undefeined?", userSpotsArray);
			var cleanUserSpotsArray =[];

			
			for (var i = 0; i < userSpotsArray[0].length; i++) {
			cleanUserSpotsArray.push(userSpotsArray[0][i]["_id"]);
			
			};
			
			user = this.options.usern;
			name = this.model.name;
			picture = this.model.picture;
			spotID = this.model._id;
			wind = this.model.wind;
			wavetype = this.model.wavetype;
			description = this.model.description;%>

			<%console.log("CLEAN", cleanUserSpotsArray);%>
			<h1 class="spotName"><%= name %></h1>
			

			<% jQuery(document).on('submit', '#followSpotForm', function() {
				event.preventDefault();
				console.log("SUBMITTED");

			    var spot = jQuery("#spot").attr("value");
			    var user = jQuery("#user").attr("value");

			    $.ajaxSetup({

					url: "http://127.0.0.1:3000/user/"+user+"/spot/"+spot+"/add",
					type: "POST",
					data: {userId: user, spotId: spot},
					headers: {Accept: "application/json"}

				});

				$.ajax({

					success: function(data){
						document.location.reload(true)
						console.log("Follow spot", data);
						
					},
					error: function(data, error){
						document.location.reload(true)
						console.log("Error when trying follow spot?", data, error);
						
					}
				});

			    //jQuery("#followSpotForm").attr("action", "/#users/"+user+"/spot/"+spot);

			});%>

			<% jQuery(document).on('submit', '#unFollowSpotForm', function() {
				event.preventDefault();
				console.log("DONT WNAT TO FOLLOW");

			    var spot = jQuery("#unFollowSpot").attr("value");
			    var user = jQuery("#unFollowUser").attr("value");

			    $.ajaxSetup({

					url: "http://127.0.0.1:3000/user/"+user+"/spot/"+spot+"/delete",
					type: "PUT",
					data: {userId: user, spotId: spot},
					headers: {Accept: "application/json"}

				});

				$.ajax({

					success: function(data){

						console.log("Unfollowed spot:", data);
						window.location.replace("http://127.0.0.1:3000/user/"+user);
					},
					error: function(data, error){
						console.log("Error when trying to stop follow spot?", data, error);
						window.location.replace("http://127.0.0.1:8888/#user/"+user);
					}
				});

			    //jQuery("#followSpotForm").attr("action", "/#users/"+user+"/spot/"+spot);

			});%>
						
			<img class="spotDetailsImage" src="pics/<%= picture %>">
			<p class="wind"><strong>Vind: </strong><%= wind %> m/s</p>
			<p class="wave"><strong>Vågtyp: </strong><%= wavetype %></p>
			<p><%= description %></p>
			</a>
			<%
				if(jQuery.inArray(spotID,cleanUserSpotsArray) >-1){
				%><form id="unFollowSpotForm" method="put">
				    <input type="hidden" id="unFollowSpot" value="<%= this.model._id %>">
				    <input type="hidden" id="unFollowUser" value="<%= user %>">
				    <input type="submit" id="deleteButton" data-theme="d" value="Stop follow?" data-mini="true" data-inline="true" data-icon="delete" data-iconpos="right">
				</form>	
			<%}
			else{

				%><form id="followSpotForm" method="post">
				    <input type="hidden" id="spot" value="<%= this.model._id %>">
				    <input type="hidden" id="user" value="<%= user %>">
				    <input type="submit" id="submitButton" data-theme="g" value="Follow spot">
				</form><%
			}%>
		
	    </div>
    	<div data-role="footer" data-theme="a" data-position="fixed">
            <nav data-role="navbar">
            	<ul><%user = this.options.usern;%>
            		<li><a href="#user/<%=user%>/searchSpot" data-icon="search">Hitta spot</a></li>
				    <li><a href="#goSurf"><p class="goSurf">Go surfing!</p></a></li>
				    <li><a href="#info" data-icon="info">Info</a></li>
				</ul>
			</nav>
        </div>
    </script>


	<!--JS-Libraries-->
	<script type="text/javascript" src="libraries/jquery.js"></script>
	<script src="http://code.jquery.com/mobile/1.3.1/jquery.mobile-1.3.1.min.js"></script>
    <script type="text/javascript" src="libraries/underscore.js"></script>
    <script type="text/javascript" src="libraries/backbone.js"></script>
    <script type="text/javascript" src="libraries/moment.js"></script> 
    <script type="text/javascript" src="libraries/hammer.js"></script>
    <script type="text/javascript" src="libraries/transit.js"></script>


	<!--My applications JavaScript-->
    <script src="index.js"></script>
    <script src="facebook.js"></script>
    <script src="views/logIn.js"></script>
    <script src="views/home.js"></script>
    <script src="views/info.js"></script>
    <script src="views/settings.js"></script>
    <script src="views/goSurf.js"></script>
    <script src="views/spotDetails.js"></script>
    <script src="views/searchSpot.js"></script>
    <script src="models/model.js"></script>

    <script type="text/javascript">
		//I dont want jquery mobile to handle my routing, backbone is doing that job
		$.mobile.ajaxEnabled = false;
		$.mobile.linkBindingEnabled = false;
		$.mobile.hashListeningEnabled = false;
		$.mobile.pushStateEnabled = false;
	</script>
	</body>
</html>