<!DOCTYPE html>
<html>
	<head>
		<title>
		Title
		</title>
		<link rel="stylesheet" href="http://code.jquery.com/mobile/1.3.1/jquery.mobile-1.3.1.min.css" />
		<link rel="stylesheet" type="text/css" href="css/uitheme/jquery.mobile.flatui.css" />
		<link href='http://fonts.googleapis.com/css?family=Condiment' rel='stylesheet' type='text/css'>
		<link rel="stylesheet" type="text/css" href="css/customstyle.css" />
		<meta charset='utf-8' />
	</head>
	<body>

	<!--HOME-->
	<script type="text/template" id="home">
		<div data-role="panel" id="panel" data-position="right" data-theme="f" data-display="push"></div>

		    <div data-role="header" data-theme="f">
		    	<a href="#" data-iconpos="notext" data-role="button" data-icon="home" title="Home" data-theme="f"></a>
		    	<h1 class="logo">Surfspoter</h1>
		    	<a href="#settings">Settings</a>
		    </div>
	        <div data-role="content" id="homeContent">           
	        	<p>Your spots:</p>
	        	<p>Available soon!!!!!</p>

	        	<div id="appContent">
				<!-- TEMPLATES CONTENTS GOES HERE -->
				</div>
					 		 		
	        </div>
	 
	        <div data-role="footer" data-theme="f" data-position="fixed">
	            <nav data-role="navbar">
	            	<ul>
	            		<li><a href="#search" data-icon="search">Hitta spot</a></li>
					    <li><a href="#goSurf"><p class="goSurf">Go surfing!</p></a></li>
					    <li><a href="#info" data-icon="info">Info</a></li>
					</ul>
				</nav>
	        </div>
	    </div> 
    </script>


    <!--SETTINGS-->
	<script type="text/template" id="settings">
		<div data-role="panel" id="panel" data-position="right" data-theme="f" data-display="push"></div>

		    <div data-role="header" data-theme="f">
		    	<a href="#" data-iconpos="notext" data-role="button" data-icon="home" title="Home" data-theme="f"></a>
		    	<h1 class="logo">Surfspoter</h1>
		    	<a href="#settings">Settings</a>
		    </div>
	        <div data-role="content" id="homeContent">           
	        	<p>Settings</p>
	        	<p>Available soon!!!!!</p>

	        	<div id="appContent">
				<!-- TEMPLATES CONTENTS GOES HERE -->
				</div>
					 		 		
	        </div>
	 
	        <div data-role="footer" data-theme="f" data-position="fixed">
	            <nav data-role="navbar">
	            	<ul>
	            		<li><a href="#search" data-icon="search">Hitta spot</a></li>
					    <li><a href="#goSurf"><p class="goSurf">Go surfing!</p></a></li>
					    <li><a href="#info" data-icon="info">Info</a></li>
					</ul>
				</nav>
	        </div>
	    </div> 
    </script>


    <!--INFO-->
	<script type="text/template" id="info">
		<div data-role="panel" id="panel" data-position="right" data-theme="f" data-display="push"></div>

		    <div data-role="header" data-theme="f">
		    	<a href="#" data-iconpos="notext" data-role="button" data-icon="home" title="Home" data-theme="f"></a>
		    	<h1 class="logo">Surfspoter</h1>
		    	<a href="#settings">Settings</a>
		    </div>
	        <div data-role="content" id="homeContent">           
	        	<p>Info</p>
	        	<p>Available soon!!!!!</p>

	        	<div id="appContent">
				<!-- TEMPLATES CONTENTS GOES HERE -->
				</div>
					 		 		
	        </div>
	 
	        <div data-role="footer" data-theme="f" data-position="fixed">
	            <nav data-role="navbar">
	            	<ul>
	            		<li><a href="#search" data-icon="search">Hitta spot</a></li>
					    <li><a href="#goSurf"><p class="goSurf">Go surfing!</p></a></li>
					    <li><a href="#info" data-icon="info">Info</a></li>
					</ul>
				</nav>
	        </div>
	    </div> 
    </script>

	



	<!--GO SURF-->
	<script type="text/template" id="goSurf">
		<div data-role="panel" id="panel" data-position="right" data-theme="f" data-display="push"></div>

		    <div data-role="header" data-theme="f">
		    	<a href="#" data-iconpos="notext" data-role="button" data-icon="home" title="Home" data-theme="f"></a>
		    	<h1 class="logo">Surfspoter</h1>
		    	<a href="#settings">Settings</a>
		    </div>
	        <div data-role="content" id="homeContent">           
	        	<p>Go surf!</p>
	        	<p>Available soon!!!!!</p>

	        	<div id="appContent">
				<!-- TEMPLATES CONTENTS GOES HERE -->
				</div>
					 		 		
	        </div>
	 
	        <div data-role="footer" data-theme="f" data-position="fixed">
	            <nav data-role="navbar">
	            	<ul>
	            		<li><a href="#search" data-icon="search">Hitta spot</a></li>
					    <li><a href="#goSurf"><p class="goSurf">Go surfing!</p></a></li>
					    <li><a href="#info" data-icon="info">Info</a></li>
					</ul>
				</nav>
	        </div>
	    </div> 
    </script>


	<!--SEARCH SURFSPOT-->
	<script type="text/template" id="search">

		<div data-role="header" data-theme="f">
	            <a href="http://127.0.0.1:8888" data-icon="back" class="back ui-btn-left">Back</a>
	            <h1 class="logo">Surfspoter</h1>
	    </div>

	    <div data-role="content">
	    	<ul data-role="listview" data-theme="c" data-inset="true" data-filter="true" data-filter-placeholder="Sök spots...">

		<% _.each(this.model, function(spot) { %>

			<li>
				<a href="#spots#<%=spot._id%>">
				<h1><%= spot.name %></h1>
				<img src="pics/surf.jpg">
				<p><%= spot.description %></p>
				</a>
			</li>

		<% }); %>
			</ul>
	    </div>
	    <div data-role="footer" data-theme="f" data-position="fixed">
            <nav data-role="navbar">
            	<ul>
            		<li><a href="#search" data-icon="search">Hitta spot</a></li>
				    <li><a href="#goSurf"><p class="goSurf">Go surfing!</p></a></li>
				    <li><a href="#info" data-icon="info">Info</a></li>
				</ul>
			</nav>
	    </div>
	 
    </script>







    <!--SPOT DETAILS-->
    <script type="text/template" id="test">
    	<div data-role="header" data-theme="f">
            <a href="http://127.0.0.1:8888/#search" data-icon="back" class="back ui-btn-left">Back</a>
            <h1><%=this.model.name%></h1>
        </div>

	    <div data-role="content">
			
			<h1 class="spotName"><%= this.model.name %></h1><a class="followButton" href="#" data-theme="g" data-role="button" data-icon="plus" data-mini="true">Follow spot</a>
			<p class="wind"><strong>Vind: </strong><%= this.model.wind%> m/s</p>
			<p class="wave"><strong>Vågtyp: </strong><%= this.model.wavetype%></p>
			<img class="spotDetailsImage" src="pics/surf.jpg">
			<p><%= this.model.description %></p>
			</a>
		
	    </div>
    	<div data-role="footer" data-theme="f" data-position="fixed">
            <nav data-role="navbar">
            	<ul>
            		<li><a href="#search" data-icon="search">Hitta spot</a></li>
				    <li><a href="#goSurf"><p class="goSurf">Go surfing!</p></a></li>
				    <li><a href="#info" data-icon="info">Info</a></li>
				</ul>
			</nav>
        </div>
    </script>





	<!--JS-Libraries-->
	<script type="text/javascript" src="libraries/jquery.js"></script>
	<script src="http://code.jquery.com/mobile/1.3.1/jquery.mobile-1.3.1.min.js"></script>
    <script type="text/javascript" src="libraries/underscore.js"></script>
    <script type="text/javascript" src="libraries/backbone.js"></script>
    <script type="text/javascript" src="libraries/moment.js"></script> 
    <script type="text/javascript" src="libraries/hammer.js"></script>
    <script type="text/javascript" src="libraries/transit.js"></script>


	<!--My applications JavaScript-->
    <script src="index.js"></script>
    <script src="views/home.js"></script>
    <script src="views/info.js"></script>
    <script src="views/settings.js"></script>
    <script src="views/goSurf.js"></script>
    <script src="views/spotDetails.js"></script>
    <script src="views/searchSpot.js"></script>
    <script src="models/model.js"></script>

    <script type="text/javascript">
		//I dont want jquery mobile to handle my routing, backbone is doing that job
		$.mobile.ajaxEnabled = false;
		$.mobile.linkBindingEnabled = false;
		$.mobile.hashListeningEnabled = false;
		$.mobile.pushStateEnabled = false;
	</script>
	</body>
</html>